.over_the {
    animation: fadeIn 0.5s ease-in; /* Example of animation with a duration of 0.5s */
    transition: opacity 0.08s ease-in; /* Transition for opacity */
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.rent {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
}

/* Button Styles */
.form_container_rents button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

.form_container_rents button:hover {
    background-color: #0056b3;
}

/* Form Container */
.form_container_rents {
    background: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form input[type="text"],
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="file"] {
    width: 100%;
    padding: 10px;
    border: none;
    background: #e9ecef;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="file"]:hover {
    background: #d6d6d6;
}

form button[type="submit"] {
    align-self: flex-start;
    width: 100px;
    background-color: #28a745;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: #218838;
}

/* Rents Container */
.container_of_rents {
    margin-top: 20px;
}

.rents_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.rents_container div {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
}

.rents_container img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.rents_container h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #555;
}

.rents_container h5 {
    font-size: 14px;
    color: #888;
}
