.adj_main {
    height: calc(100vh - 120);
    width: 100%;
    position: absolute;
    top: 120px;
    background-color: #3F3B8C;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: -1;
  }
  .banner {
    display: flex;
    align-items: center;
  }
  
  .banner img {
    height: 350px;
    width: 100%;
    object-fit: cover; 
  }
  .electronics {
    padding: 20px 0; 
   
  }
  
  .electronics h5 {
    text-align: center;
    font-size: 24px;
    color: white;
  }
  .furniture h5 {
    text-align: center;
    font-size: 24px;
    color: white;
  }
  .agriculture h5 {
    text-align: center;
    font-size: 24px;
    color: white;
  }
  .vehcle h5 {
    text-align: center;
    font-size: 24px;
    color: white;
  }

  .electronics__container {
    display: flex;
    justify-content: flex-start; 
    gap: 15px;
    height: auto;
    width: 100%; 
    padding: 20px;
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch;  
    scroll-behavior: smooth;
    box-sizing: border-box; 
  }
  
  .electronics__item {
    background-color: #DF62FC;
    color: white;
    width: 160px;
    height: 210px;
    border-radius: 10px;
    border: 1px solid #ddd;
    flex-shrink: 0; 
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .electronics__item:hover {
    transform: scale(1.08);
  }
  
  .electronics__item img {
    width: 100%;
    height: 150px; 
    object-fit: cover;
  }
  
  .electronics__container::-webkit-scrollbar {
    display: none;
  }
  
  .electronics__container {
    -ms-overflow-style: none;
  }
  
  @media screen and (max-width: 1024px) {
    .electronics__item {
      width: 140px; 
      height: 180px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .electronics__container {
        display: flex;
        justify-content: flex-start; 
        gap: 15px;
        height: auto;
        width: 115%;  
        padding: 20px;
        overflow-x: auto;  
        -webkit-overflow-scrolling: touch;  
        scroll-behavior: smooth;
        box-sizing: border-box;  
      }
  
    .electronics__item {
      width: 120px;
      height: 160px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .electronics__container {
        display: flex;
        justify-content: flex-start; 
        gap: 15px;
        height: auto;
        width: 135%;  
        padding: 20px;
        overflow-x: auto; 
        -webkit-overflow-scrolling: touch;  
        scroll-behavior: smooth;
        box-sizing: border-box;  
      }
  
    .electronics__item {
      width: 100px;
      height: 140px;
    }
  }
  